[user]
	name = Cameron Rodriguez
	email = <relevant_email@here.paste>
	signingkey = <subkey>!
[core]
	editor = vim
	# editor = code --wait
	# sshCommand = "C:/Windows/System32/OpenSSH/ssh.exe"
[pull]
	ff = only
[gpg]
	# program = "C:/Program Files (x86)/GnuPG/bin/gpg.exe"
[gpg "ssh"]
	allowedSignersFile = "~/.ssh/allowed_signers"
[help]
	autoCorrect = prompt
[init]
	defaultBranch = main
[alias]
	lg = log --graph --oneline --pretty=format:'%C(yellow)%h %C(magenta)[%G?]%C(auto) %d %s %C(green)(%C(cyan)%aE%C(green), %C(brightgreen)%cr%C(green))%Creset'
	alog = log --all --graph --oneline --pretty=format:'%C(yellow)%h %C(magenta)[%G?]%C(auto) %d %s %C(green)(%C(cyan)%aE%C(green), %C(brightgreen)%cr%C(green))%Creset'
	st = status --short
