[user]
	name = Jessica Rodriguez
	email = <relevant_email@here.paste>
	signingKey = <subkey>!
[core]
	editor = vim
	symlinks = true
	# editor = code --wait
	# sshCommand = "C:/Windows/System32/OpenSSH/ssh.exe"
[pull]
	ff = only
[gpg]
	# program = "C:/Program Files (x86)/GnuPG/bin/gpg.exe"
[gpg "ssh"]
	allowedSignersFile = "~/.ssh/allowed_signers"
[help]
	autoCorrect = prompt
[init]
	defaultBranch = main
[alias]
	lg = log --graph --oneline --pretty=format:'%C(yellow)%h %C(magenta)[%G?]%C(auto)%d %s %C(green)(%C(cyan)%aE%C(green), %C(brightgreen)%cr%C(green))%Creset'
	alog = log --all --graph --oneline --pretty=format:'%C(yellow)%h %C(magenta)[%G?]%C(auto)%d %s %C(green)(%C(cyan)%aE%C(green), %C(brightgreen)%cr%C(green))%Creset'
	st = status --short
	rbcont = "-c core.editor=true rebase --continue"
	recom = commit --amend --no-edit
	spc = sparse-checkout
	ls-ignored = ls-files -o -i --exclude-standard --directory
	ls-ignored-files = ls-files -o -i --exclude-standard
	shns = show --name-status
[sendemail]
	confirm = always
[credential]
	helper = libsecret # Remove this line on Windows
