[Desktop Entry]
Type=Application
Version=1.5
Name=Pastel
GenericName=Color Mixer
Comment=CLI color generation & manipulation tool
Icon=pastel
Exec=pastel pick %u
Terminal=false
StartupWMClass=zenity
