[Desktop Entry]
Name=Signal AppImage
Exec=/home/<USERNAME>/.local/bin/signal-desktop.AppImage %U
Terminal=false
Type=Application
Icon=signal-desktop
StartupWMClass=signal
Comment=Private messaging from your desktop
MimeType=x-scheme-handler/sgnl;x-scheme-handler/signalcaptcha;
Categories=Network;InstantMessaging;Chat;