[Unit]
Description=Run standalone updater for %i

[Timer]
OnCalendar=Mon 10:30
OnStartupSec=65s
AccuracySec=10s
RandomizedDelaySec=10min
Unit=%i.service

[Install]
WantedBy=timers.target