[Unit]
Description=Check pastel weekly
After=network.target
Wants=local_updchk@pastel-chk.timer
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/home/<USER>/.local/share/cargo/bin/cargo install pastel
# Configures under what conditions the unit will be restarted.
Restart=on-failure
RestartSec=30
