[Unit]
Description=Update Rust toolchains
After=network.target
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/home/<USER>/.local/share/cargo/bin/rustup update
# Configures under what conditions the unit will be restarted.
Restart=on-failure
RestartSec=30
