[Unit]
Description=Check vim-plug weekly
After=network.target
Wants=local_updchk@vimplug-chk.timer
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/bin/vim -c ':PlugClean! | PlugUpdate' -c ':qall!' /home/<USER>/.vimrc
# Configures under what conditions the unit will be restarted.
Restart=on-failure
RestartSec=30
