
## <summary>policy for howdy_camrod</summary>

########################################
## <summary>
##	Execute howdy_camrod_exec_t in the howdy_camrod domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`howdy_camrod_domtrans',`
	gen_require(`
		type howdy_camrod_t, howdy_camrod_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, howdy_camrod_exec_t, howdy_camrod_t)
')

######################################
## <summary>
##	Execute howdy_camrod in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`howdy_camrod_exec',`
	gen_require(`
		type howdy_camrod_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, howdy_camrod_exec_t)
')

########################################
## <summary>
##	Execute howdy_camrod in the howdy_camrod domain, with
##  access to signals
## </summary>
## <param name="domain">
##	<summary>
##	User domain for the current role
##	</summary>
## </param>
#
interface(`howdy_camrod_run_signals',`
	gen_require(`
		type howdy_camrod_t;
	')

	howdy_camrod_domtrans($1)

	ps_process_pattern($1, howdy_camrod_t)
	allow $1 howdy_camrod_t:process { signull signal sigkill };
')
