[Unit]
Description=Download new Multiviewer for F1 RPMs into a local repo
StartLimitBurst=5

[Service]
ExecStart=/home/<USER>/scripts/multiviewer_repo.py
Restart=on-failure
RestartSec=30s