[Unit]
Description=Download new Multiviewer for F1 RPMs into a local repo
StartLimitBurst=5

[Service]
Type=oneshot
ExecStart=/home/<USER>/scripts/multiviewer-repo.py
Restart=on-failure
RestartSec=30s